/* RESET */

@font-face{
    font-family: 'Jhoiboy';
    src: url('jhoiboy.regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Jhoiboy';
    font-size: 100%;
}

ul, li{
    list-style: none;
}

body{
    background-color: lightsteelblue;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.container{
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -6%;
}
h1{
    font-size: 5rem;
    font-style: normal;
    font-weight: lighter;
    color: crimson;
}

.tempo{
    width: 80%;
    background-color: coral;
    display: flex;
    justify-content: space-around;
}

.tempo li{
    font-size: 2rem;
    padding: 2%;
}

.btn-box{
    font-size: 1.5rem;
    padding: 3%;
}

.btn-box button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    padding: 2%;
}

.btn-box button:hover{
    background-color: crimson;
    color: #fff;
    transition: 0.3s ease;
}
